<?php /** @var \Teqt\QuestionsAnswers\Block\Answer\Form $this */ ?>
<form action="<?php echo $this->getSubmitUrl(); ?>" class="answer-form" method="post">
    <input type="hidden" name="question_id" value="<?php echo $this->getQuestion()->getId(); ?>" />

    <fieldset class="fieldset">
        <div class="field required">
            <label for="display_name_field" class="label"><span><?php echo __('Display name'); ?></span></label>
            <div class="control">
                <input type="text" name="display_name" id="display_name_field" class="input-text" aria-required="true">
            </div>
        </div>
        <div class="field required">
            <label for="email_field" class="label"><span><?php echo __('Email address'); ?> <?php echo __('(will not be displayed)'); ?></span></label>
            <div class="control">
                <input type="text" name="email" id="email_field" class="input-text" aria-required="true">
            </div>
        </div>
        <div class="field required">
            <label for="answer_field" class="label"><span><?php echo __('Your answer'); ?></span></label>
            <div class="control">
                <input type="text" name="answer" id="answer_field" class="input-text" aria-required="true">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary actions-primary">
            <button type="submit" class="action submit"><span><?php echo __('Submit Answer'); ?></span></button>
        </div>
    </div>
</form>