<?php /** @var \Teqt\QuestionsAnswers\Block\Guest\Answers $this */ ?>
<h2><?php echo __('Answers from this contributor.'); ?></h2>

<?php if($answers = $this->getAnswers()): ?>
    <ol class="qa-list answer-list">
        <?php foreach($answers as $answer): ?>
            <?php /** @var \Teqt\QuestionsAnswers\Model\AnswerInterface $answer */ ?>
            <li>
                <em><?php echo $answer->getAnswer(); ?></em><br />
                <small><?php echo __('by %1 on product %2', $answer->getGuest()->getLink('display_name'),
                    $this->getProductLink($answer->getQuestion()->getProduct())); ?></small>
            </li>
        <?php endforeach; ?>
    </ol>
<?php endif; ?>