.answer-form,
.question-form
{
    max-width: 500px;
}

.qa-list
{
    padding: 0;
    list-style: none;
}

.qa-list .answer-form-container > span
{
    cursor: pointer;
    color: #006bb4;
}

.qa-list .answer-form-container > span:hover
{
    text-decoration: underline;
}

.qa-list .answer-form-container input[type='checkbox'],
.qa-list .answer-form-container input[type='checkbox']:checked + span,
.qa-list .answer-form-container input[type='checkbox'] + span + div
{
    display: none;
}

.qa-list .answer-form-container input[type='checkbox']:checked + span + div
{
    display: block;
}

.qa-list.question-list > li
{
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 30px;
}

.qa-list.question-list > li > em
{
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.1;
}

.qa-list.question-list > li > em + small
{
    display: block;
    margin: 0 0 10px;
}

.qa-list.question-list > li .qa-list > li
{
    display: block;
    background-color: #f0f0f0;
    padding: 10px 2%;
}

.qa-list.question-list > li .qa-list > li > em
{
    display: block;
    font-style: normal;
}

@media screen and (min-width: 600px)
{
    .qa-list.question-list > li .qa-list > li
    {
        display: block;
        background-color: #f0f0f0;
        width: 45%;
        float: left;
    }

    .qa-list.question-list > li .qa-list > li:nth-child( odd )
    {
        clear: left;
    }
    
    .qa-list.question-list > li .qa-list > li:nth-child( even )
    {
        float: right;
    }
}