<?php /** @var \Teqt\QuestionsAnswers\Block\Question\Form $this */ ?>
<form action="<?php echo $this->getSubmitUrl(); ?>" class="question-form" method="post">
    <input type="hidden" name="product_id" value="<?php echo $this->getProduct()->getId(); ?>" />

    <fieldset class="fieldset">
        <legend class="legend review-legend"><span><?php echo __('Ask a question about:'); ?></span><strong><?php echo $this->getProduct()->getName(); ?></strong></legend><br>
        <div class="field required">
            <label for="display_name_field" class="label"><span><?php echo __('Display name'); ?></span></label>
            <div class="control">
                <input type="text" name="display_name" id="display_name_field" class="input-text" aria-required="true">
            </div>
        </div>
        <div class="field required">
            <label for="email_field" class="label"><span><?php echo __('Email address'); ?> <?php echo __('(will not be displayed)'); ?></span></label>
            <div class="control">
                <input type="text" name="email" id="email_field" class="input-text" aria-required="true">
            </div>
        </div>
        <div class="field required">
            <label for="question_field" class="label"><span><?php echo __('Your question'); ?></span></label>
            <div class="control">
                <input type="text" name="question" id="question_field" class="input-text" aria-required="true">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary actions-primary">
            <button type="submit" class="action submit"><span><?php echo __('Submit Question'); ?></span></button>
        </div>
    </div>
</form>