<?php /** @var \Teqt\QuestionsAnswers\Block\Question\QuestionList|\Teqt\QuestionsAnswers\Block\Guest\Questions $this */ ?>
<?php $questions = $this->getQuestions(); ?>

<h2><?php echo $this->getTitle(); ?></h2>

<?php if($questions && $questions->getSize()): ?>
    <ol class="qa-list question-list">
        <?php foreach($questions as $question): ?>
        <?php /** @var \Teqt\QuestionsAnswers\Model\QuestionInterface $question */ ?>
            <li>
                <em><?php echo $question->getQuestion(); ?></em>
                <small><?php echo __(($this->getProduct() ? 'by %1' : 'by %1 on product %2'),
                    $question->getGuest()->getLink('display_name'), $this->getProductLink($question->getProduct())); ?></small>

                <?php if($answers = $question->getAnswers()): ?>
                    <ol class="qa-list answer-list clearfix">
                        <?php foreach ($answers as $answer): ?>
                            <?php /** @var \Teqt\QuestionsAnswers\Model\AnswerInterface $answer */ ?>
                            <li>
                                <em><?php echo $answer->getAnswer(); ?></em>
                                <small><?php echo __('by %1', $answer->getGuest()->getLink('display_name')); ?></small>
                            </li>
                        <?php endforeach; ?>
                    </ol>

                    <?php if($this->getProduct()): ?>
                        <label class="answer-form-container">
                            <input type="checkbox" />
                            <span><?php echo __('Submit your answer to this question.'); ?></span>
                            <div>
                                <?php echo $this->getChildBlock('qa.answer.form')
                                    ->setQuestion($question)
                                    ->toHtml(); ?>
                            </div>
                        </label>
                    <?php endif; ?>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ol>
<?php else: ?>
    <p><?php echo __('No questions have been posted yet!'); ?></p>
<?php endif; ?>

<?php echo $this->getChildHtml('qa.questions.form'); ?>
